

.main_div_div {
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;

}

.div{
    background-color: #F7F7F7;
    height: 55vh;
    width: 18vw;
    padding: 10px;
    margin: 30px;
    


}

.imgsection {
    height: 300px;
    width: 250px;
    background-position: center;
    background-size: contain;
    background-color: grey;
}

.imgsection img {
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 250px;

}