

.page2_container {
    height: 90vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

.page2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5rem 50px;
}

.page2_left {
    height: 100%;
    width: 50%;
    padding-top: 7rem;
    
}

.page2_left h3 {
    font-family: poppins;
    line-height: 1;
    font-weight: 700;
    color: #525252;
    padding-bottom: 1.5rem;
    font-size: 54px;
}

.page2_left p {
    font-family: poppins;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 1.5rem;

}

.page2_left button {
    height: 50px;
    width: 120px;
    border: 2px solid #525252;
    font-size: 17px;
    transition: linear 0.3s;
}

.page2_left button:hover {
    background-color: #fff;
}

.page2_right {
    height: 100%;
    width: 50%;

}

.page2_right img {
    position: absolute;
    height: 450px;
    right: 15%;
    top: 10%
}