@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Teko:wght@300..700&display=swap');


.nav_container {
    height: 70px; 
    background-color: white;
    width: 100%;
    border: 1px solid #525252;
    border-top: none;
    /* position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;  */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 10px 7px;
}

.navbar{
    padding: 0 50px;
    /* padding-bottom: 30px; */
    /* padding-top: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    color: #525252;
    list-style: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
    padding-top: 10px;
}

.btns {
    display: flex;
    gap: 1rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90px;
    outline: none;
    border: 2px solid #525252;
    border-radius: 9px;
    background-color: #FFEE9C;
    color: #525252;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: linear 0.3s;
    font-family: poppins;


}

button:hover {
    background-color: #fff;
}

h3 {
    font-size: 54px;
    color: #525252;
    font-family: teko;
    font-weight: 500;
    /* -webkit-text-stroke: 1px #525252; */
}

 a{
    color: #525252;
    text-decoration: none;
    font-family: poppins;
    font-weight: 700;
}


